@import "../../scss/classes";
@import "../../scss/variables";

.input {
  @extend %circled;
  color: $text-color;
  background-color: #eceff1;
  border: 1px solid transparent;
  &:focus {
    background-color: white;
    border-color: $primary-color;
  }
  &::placeholder {
    color: $text-color;
  }
}
