@import "../../scss/classes";
@import "../../scss/variables";

.content {
  width: 680px;
  padding: 15px 0 0;
  border: 1px solid $grey;
  margin: 15px auto 0 auto;
  background-color: white;
}

@media screen and (max-width: 680px) {
  .content {
    width: 100%;
  }
}

.image {
  @extend %full-size, %circled;
  margin: 0 10px;
  object-fit: cover;
  width: calc(100% - 20px);
}

.details {
  @extend %flex-col;
  padding: 20px;
  color: $text-color;
}
.price {
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0 0 16px;
  border-bottom: 1px solid $grey;
}
.title {
  margin-top: 2px;
  font-size: 2rem;
  line-height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description {
  padding: 20px 0;
  font-size: 1rem;
  line-height: normal;
  word-wrap: break-word;
  border-bottom: 1px solid $grey;
}
