@import "../../scss/classes";
@import "../../scss/variables";

.content {
  position: relative;
  height: calc(100% - 70px);
}

.previewList {
  @extend %flex-row;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 15px;
  margin-top: 15px;
}

.addButton {
  position: sticky;
  display: none;
  bottom: 15px;
  margin: 0 auto;
}
@media screen and (max-width: 560px) {
  .addButton {
    display: block;
  }
}
