@import "../../scss/classes";
@import "../../scss/variables";

.animated {
  $margin: 10px;
  width: 220px;
  height: 415px;
  position: relative;
  margin: 0 $margin $margin 0;
}
.itemPreview {
  position: absolute;
  top: 5px;
  width: 100%;
  height: 410px;
  border-radius: 10px;
  background-color: white;
  transition: all .15s ease;
  &:hover {
    @extend %shadow;
    top: 0px;
  }
}

.image {
  height: 250px;
  padding: 5px 5px 0;
  img {
    @extend %full-size;
    object-fit: cover;
    border-radius: 5px;
  }
}

.info {
  @extend %flex-col;
  color: $text-color;
  padding: 0 16px 0 12px;
}

.price {
  font-size: 1rem;
  margin-bottom: 8px;
}
.title {
  margin-top: 10px;
  font-weight: 550;
  font-size: 1.25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.description {
  height: 85px;
  font-size: 0.875rem;
  word-wrap: break-word;
  text-overflow: ellipsis;
  color: $text-secondary;
}
