%flex-row {
  display: flex;
  flex-direction: row;
}
%flex-col {
  display: flex;
  flex-direction: column;
}
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
%circled {
  border-radius: 20px;
}
%circle {
  border-radius: 50%;
}
%full-size {
  width: 100%;
  height: 100%;
}
%full-screen {
  width: 100vw;
  height: 100vh;
}
%shadow {
  box-shadow: 0 2px 4px 0 rgba(37, 50, 56, 0.03);
}
