@import "./classes";

body, p {
  margin: 0;
}
body {
  background-color: #f4f5f7;
}

#root {
  @extend %full-screen;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  border: none;
  outline: none;
  user-select: none;
  text-decoration: none;
  box-sizing: border-box;
}
